{% extends 'chat/base.html' %}

{% block content %}

<h2>{{ error }}</h2>


    <h1>Sign Up To Chat</h1>

    <form action="" method="POST">
    {% csrf_token %}
    {{ form.username.label }}
    <br>
    {{ form.username }}
    <br>
    <br>
    {{ form.first_name.label }}
    <br>
    {{ form.first_name }}
    <br>
    <br>
    {{ form.last_name.label }}
    <br>
    {{ form.last_name }}
    <br>
    <br>
    {{ form.email.label }}
    <br>
    {{ form.email }}
    <br>
    <br>
    {{ form.password1.label }}
    <br>
    {{ form.password1 }}
    <br>
    <br>
    {{ form.password2.label }}
    <br>
    {{ form.password2 }}
    <br>
    <br>

    <input type="submit" name="Create User" id="">
    </form>

{% comment %}     <form  method="POST" action="{% url 'signupuser' %}">
    {% csrf_token %}
    First Name:
    <br>
    <input type="text" name="first_name">
    <br>
    Last Name:
    <br>
    <input type="text" name="last_name">
    <br>
    Email:
    <br>
    <input type="text" name="email">
    <br>
    Password:
    <br>
    <input type="password" name="password1">
    <br>
    Re-enter password:
    <br>
    <input type="password" name="password2">
    <br>
    <br>
    <button class="btn btn-primary" type="submit" name="signup"></button>
    </form> {% endcomment %}

{% endblock  %}