{% extends 'chat/base.html' %}

{% block content %}

<h2>{{ error }}</h2>


    <h1>Sign Up To Chat</h1>

    <form  method="POST" action="{% url 'signupuser' %}">
    {% csrf_token %}
    First Name:
    <br>
    <input type="text" name="first_name">
    <br>
    Last Name:
    <br>
    <input type="text" name="last_name">
    <br>
    Email:
    <br>
    <input type="text" name="email">
    <br>
    Password:
    <br>
    <input type="password" name="password1">
    <br>
    Re-enter password:
    <br>
    <input type="password" name="password2">
    <br>
    <br>
    <button class="btn btn-primary" type="submit" name="signup"></button>
    </form>

{% endblock  %}