{% extends 'chat/base.html' %}

{% block content %}

<h2>{{ error }}</h2>

<div class="container">
    <h1>Sign Up To Chat</h1>

    <form action="" method="POST">
    {% csrf_token %}
    {{ form.username.label }}
    <br>
    {{ form.username }}
    <br>
    {{ form.password1.label }}
    <br>
    {{ form.password1 }}
    <br>
    <br>
    {{ form.password2.label }}
    <br>
    {{ form.password2 }}
    <br>
    <br>

    <input type="submit" name="Create User" id="">
    </form>
</div>

{% endblock  %}